body {
  min-height: 100dvh;
}

.formkit-kitchen-sink {
  padding: 2em;
}
.formkit-input-section[data-type="transferlist"] .formkit-specimen-group {
  grid-template-columns: repeat(auto-fit, 650px);
}
.double {
  display: flex;
}
.double > * {
  width: 50%;
  flex-grow: 1;
}
.double > *:first-child {
  margin-right: 0.25em;
}
.double > *:last-child {
  margin-left: 0.25em;
}
.triple {
  display: flex;
}
.triple > * {
  flex-grow: 1;
  width: 33.333%;
}
.triple > *:first-child {
  margin-right: 0.5em;
}
.triple > *:last-child {
  margin-left: 0.5em;
}
